<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <h1>
            My first name is {{fname}} <br>
            My last name is {{lname}} <br>
            Age : {{age}}
        </h1>
        <p>The answer is {{calc}}</p>

        <form action="" method="get">

        <label for="fname">First name:</label>
        <input type="text" id="fname" name="fname"><br><br>

        <label for="lname">Last name:</label>
        <input type="text" id="lname" name="lname"><br><br>

        <label for="age">Age:</label>
        <input type="number" name="age" id="age"> <br><br>
        
        <input type="submit" value="Submit">

        </form>
    </body>
</html>