{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>
<body>
    <div class="home-container">
        <div class="sidebar">
            <h2>Dashboard</h2>
            <a href="/">Home</a>
            <a href="/profile/">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
        <div class="content">
            <div class="welcome-message">
                <h3>Welcome, {{ user.first_name }}</h3>
                <h4><a href="/profile/">Create Post</a></h4>
                {% for message in messages %}
                    <p class="message">{{ message }}</p>
                {% endfor %}
            </div>
             
            <div>
                <form action="" method="GET">
                    <label for="search" class="post-title">Word Search</label><br>
                    <input type="text" name="search" id="search" placeholder="Search here...">
                    <input type="submit" value="search">
                </form>
            </div><br>

            <div class="post">
                <div class="post-title">Word: {{word}}</div>

                <div class="post-content">
                    {% if word == '' %}
                        <p>Enter a word</p>
                    {% else %}

                        {% if word_def %}
                            <h2>Definitions:</h2>
                            <ul>
                            {% for items in word_def %}
                                <li>
                                    {{items}}
                                </li> <br>
                            {% endfor %}
                            </ul>
                            <h2>Examples:</h2>
                            <ul>
                            {% for examples in word_ex %}
                                <li>
                                    {{examples}}
                                </li> <br>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p>Word not available</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="posts">
                {% for post in posts %}
                    <div class="post">
                        <div class="post-title"><a href="/single-post/{{post.id}}/">{{ post.post_title }}</a></div>
                        <div class="post-content">{{ post.post_body | truncatewords:'10'}}</div>
                        <div class="post-date" style="text-align: right;">Posted: {{ post.date_posted }}</div>

                        <div class="post-actions">
                            <a href="/post-edit/{{ post.id }}/">Edit</a>
                            <a href="/post-delete/{{ post.id }}/">Delete</a>
                        </div>
                        
                    </div>
                {% endfor %}
            </div>

            <div class="forgot-password">
                <a href="/pwrdreset/">Change Password</a>
            </div>
        </div>
    </div>
</body>
</html>